body {
  font-size: 16px;
  color: #000;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid #FFF;/*no*/
}

.box1 {
  width: 0px;
  border: 1px solid #000;
}

.box2 {
  border: 2px solid #000;
}

.bx-animate-fade-in {
  animation: bx-animate-fade-in 0.3s;
}

.bx-animate-fade-out {
  animation: bx-animate-fade-out 0.3s;
}

@keyframes bx-animate-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bx-animate-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@supports (bottom: constant(safe-area-inset-bottom)) {
  .selector {
    width: 150px;
  }
}

@media only screen and (min-device-width: 241px) and (max-device-width: 360px) {
  .selector {
    width: 300px;
  }
}